.sec-items {
    color: #000;
    font-size: 12px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
.sec-items img {
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

.sec-items p {
    color: #fff;
    position: relative;
    font-size: 15px;
}

.sec-img {
    position: relative;
}

.sec-img img{
    opacity: .9;
}

.sec-img h2 {
    z-index: 10;
    position: absolute;
    top:10%;
    left:80%;
    transform: translate(-50%,-50%);
}


.sec-bnt {
    padding: 8px;
    font-size: 10px;
}

.sec-bnt button {
    margin-left: 5px;
    padding: 6px;
    cursor: pointer;
}



